
<form method="post" enctype="multipart/form-data">
    <label for="file">File</label>
    <input type="file" name="file" id="file" />
    <br />
    <label for="name">Name</label>
    <input id="name" name="name" />

    <input type="submit" />
</form>
